<%= javascript_include_tag "draw2dlib/shifty" %>
<%= javascript_include_tag "draw2dlib/raphael" %>
<%= javascript_include_tag "draw2dlib/jquery-1.8.1.min" %>
<%= javascript_include_tag "draw2dlib/jquery-ui-1.8.23.custom.min" %>
<%= javascript_include_tag "draw2dlib/jquery.layout" %>
<%= javascript_include_tag "draw2dlib/jquery.autoresize" %>
<%= javascript_include_tag "draw2dlib/jquery-touch_punch" %>
<%= javascript_include_tag "draw2dlib/jquery.contextmenu" %>
<%= javascript_include_tag "draw2dlib/rgbcolor" %>
<%= javascript_include_tag "draw2dlib/canvg" %>
<%= javascript_include_tag "draw2dlib/Class" %>
<%= javascript_include_tag "draw2dlib/json2" %>
<%= javascript_include_tag "draw2dlib/draw2d" %>
<%= javascript_include_tag "draw2dlib/codigo" %>
<%= javascript_include_tag "redu-js/bootstrap-redu" %>
<%= javascript_include_tag "redu-js/vendor/jquery.autosize" %>

<script>
$(document).ready(function () {
	$('#btnFechaModal').click(function() {
		$('#noticePostSuccess').hide();
		$('#noticePostFailure').hide();
		$('#postMural').show();
		$('#carregando').hide();
	});
	
	$('#postMural').mouseup(function() {
		var valor = document.getElementById('nomeCanvas').value;
		if(valor !== "") {
			$('#postMural').hide();
			$('#carregando').show();
		}
	});
});
</script>

<div style="width: 700px; margin: 0 auto;">
    <button id="conexaoDireta" class="button-default">Retificar ligações</button>
  	<a style="display:none" id="abrirModalExportarPNG" href="#mbExportarPNG" data-toggle="modal"></a>
    <div onselectstart="javascript:/*IE8 hack*/return false" id="gfx_holder" style="width:700px; height:600px;-webkit-tap-highlight-color: rgba(0,0,0,0); background-color: white;border: 1px solid #CCC;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;position: relative">
    	<ul id="menuPrincipal" style="list-style-type: none;padding:0;margin:0;position:relative;">
    		<li>
    			<ul style="list-style-type: none;padding:0;margin:0;float:right;">
   					<li>
   						<button id="menuOpcoes" class="button-default" style="display:block;width: 107px">Menu</button>
   						<button id="exportarPNG" class="button-default" style="display:none">Exportar .PNG</button>
   					</li>
    			</ul>
    		</li>
    		<li><button id="lixeira" class="button-default button-disabled" style="float:right;position: relative">Lixeira</button></li>
    	</u>
    	<ul style="list-style-type: none;padding:0;margin:0;padding-top:440px">
    		<li>
    			<button id="atomos" class="button-default" style="width: 100px;">Átomos</button>
    			<button id="addHidrogenio" class="button-default" style="display:none">Hidrogênio</button>
				<button id="addCarbono" class="button-default" style="display:none">Carbono</button>
				<button id="addNitrogenio" class="button-default" style="display:none">Nitrogênio</button>
				<button id="addOxigenio" class="button-default" style="display:none">Oxigênio</button>
				<button id="addFosforo" class="button-default" style="display:none">Fósforo</button>
				<button id="addCloro" class="button-default" style="display:none">Cloro</button>
				<button id="addBromo" class="button-default" style="display:none">Bromo</button>
    		</li>
    		<li><button id="moleculas" class="button-default button-disabled" style="width: 100px;">Moléculas</button></li>
    		<li><button id="ligacoes" class="button-default button-disabled" style="width: 100px">Ligações</button></li>
    		<li><button id="formulas" class="button-default button-disabled" style="width: 100px">Fórmulas</button></li>
    		<li><button id="opgraficas" class="button-default button-disabled" style="width: 100px">Op. gráficas</button></li>
    	<ul>
    </div>
    
</div>
<div id="reslt" >
</div>

<!-- MODAL EXPORTAR PNG -->
<div>
<div id="mbExportarPNG" class="modal hide">
  <div class="modal-header">
    <h3 class="modal-title">Exportar modelo</h3>
    <a class="modal-subtitle" href="#">Selecione um mural para exportar seu modelo</a>
  </div>
  <div class="modal-body">
  	<p id='noticePostSuccess' style="display:none">Postado no mural com sucesso!</p>
  	<p id='noticePostFailure' style="display:none">Falha ao postar no mural!</p>
    <%= form_tag url_for(:controller => 'esquema',:action => 'postarNoMural'),{:remote => true, :id=>"formPostMural"}  do %>
    
    	<div class="control-group">
		  <div class="controls">
		    <%= label_tag 'nomeCanvas', 'Nome do esquema', {:style => 'color:gray'} %>
		    <%= text_field_tag 'nomeCanvas', nil, {:maxlength => 100, :required => 'required', :id => 'nomeCanvas'} %>
		    <%= hidden_field_tag 'esquemaSVG' %>
		    <%= hidden_field_tag 'idSpace', params[:redu_space_id] %>
		    <%= hidden_field_tag 'redu_user_id', params[:redu_user_id] %>
		  </div>
		</div>
    <%= submit_tag 'Postar no mural', {:class => 'button-primary', :style => 'float:right;margin-top:10px', :id => "postMural"} %>
    <% end %>
    <img id='carregando' src="../assets/img/spinner-blue.gif" style='margin-left: 230px;display:none;'>
	    
  </div>
  <div class="modal-footer">
    <button id='btnFechaModal' data-dismiss="modal" class="button-primary">Fechar</button>
  </div>
</div>
</div>

